<section class="banner p-5 row">
    <div class ="col-8">
        <h1>Guesbaya Couture</h1>
        <p class="subtitle">Vos vêtements personnalisés et sur mesure à portée de click!</p>
    </div>
    <div class = "col-4">
        <a class="btn btn-secondary" href="#" role="button">Voir la gallerie</a>
    </div>
</section>