<h1>Veuillez confirmer votre inscription</h1>

<p>
    Pour confirmer votre inscription sur Guesbaya Couture, cliquez sur ce lien: <br><br>
    <a class="btn btn-success" href="{{ signedUrl }}">Confirmer mon Email</a>.
    Ce message expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Merci, et à bientôt!
</p>
