{% extends 'base.html.twig' %}

{% block title %}Nouveau modèle | Admin | Guesbaya Couture{% endblock %}

{% block body %}
    <h1>Ajouter un nouveau modèle</h1>

    {{ include('admin/pattern/_form.html.twig') }}

    <a href="{{ path('pattern_index') }}">Retour à la liste</a>
{% endblock %}
