@import "variables.scss";
@import "~bootstrap/scss/bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");




// GLOBAL

body {
    background-color: $light;
    font-family: 'Lato', sans-serif;
}

//ACCUEIL
.banner {
    background-image: url('../images/banner01.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: opacity
}

.subtitle {
    font-style: italic
}
